.footer{
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: rgb(55, 36, 80);
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

.item{
    margin: 50px;
    padding: 5px;
}

@media screen and (max-width: 500px){
    .footer{
        /* display: flex; */
        /* flex-direction: column; */
    } 
}